.container {
    display: flex;
    justify-content: center;
    width: 65%;
}

@media (max-width: 770px) {
    /* looks like we need to put in important for all material ui component */
    .container {
        width: 90%;
    }
}